# Treating the Observed Data from API.
## Example with output file from the query running on the lab server

In [1]:
import pandas as pd
#obs = pd.read_csv('/home/github/RNA_Operacional_WRF/files/obs_data/hourly_data.csv')
import sys
sys.path.append('/home/github/RNA_Operacional_WRF')
import API_output_treatment as api_t

In [2]:
# This the output file from the query running on the lab server
path = '/home/github/RNA_Operacional_WRF/files/obs_data/hourly_data.csv' 

# You'll need to provide the path and station name as in the file
api_t.observed_data_reading(path, 'Barreto 1')

                     data  chuva 1h
179   2022-03-23 23:00:00      0.01
209   2022-03-23 23:00:00      0.01
239   2022-03-24 00:00:00      0.01
269   2022-03-24 01:00:00      0.01
299   2022-03-24 02:00:00      0.01
...                   ...       ...
25947 2022-04-29 18:00:00      0.01
25977 2022-04-29 19:00:00      0.01
26007 2022-04-29 20:00:00      0.01
26037 2022-04-29 21:00:00      0.01
26067 2022-04-29 22:00:00      0.01

[863 rows x 2 columns]

- Adapting data got from INMET website

In [151]:
import pandas as pd
inmet = pd.read_csv('/home/github/RNA_Operacional_WRF/files/obs_data/INMETobserved_01-2022_05-2022.csv', sep=';')

In [152]:
inmet=inmet[['Data','Hora (UTC)', 'Chuva (mm)']]

In [153]:
inmet['Chuva (mm)'] = inmet['Chuva (mm)'].astype(str)
inmet

            Data  Hora (UTC) Chuva (mm)
0     01/01/2022           0        0,0
1     01/01/2022         100        0,2
2     01/01/2022         200        0,4
3     01/01/2022         300        0,2
4     01/01/2022         400        0,0
...          ...         ...        ...
2899  01/05/2022        1900        0,0
2900  01/05/2022        2000        0,0
2901  01/05/2022        2100        0,0
2902  01/05/2022        2200        0,0
2903  01/05/2022        2300        0,0

[2904 rows x 3 columns]

In [154]:
inmet['Chuva (mm)'] = inmet['Chuva (mm)'].apply(lambda x: x.replace(',','.')).astype(float)

In [155]:
def hour(val):
    if val == 0:
        return '00:00:00'
    else:
        str_val = str(val)
        if len(str_val)==3:
            str_val = '0' + str_val
            
        sep_val = str_val[:-2] + ':' + str_val[-2:] + ':00'
        return sep_val

In [156]:
inmet

            Data  Hora (UTC)  Chuva (mm)
0     01/01/2022           0         0.0
1     01/01/2022         100         0.2
2     01/01/2022         200         0.4
3     01/01/2022         300         0.2
4     01/01/2022         400         0.0
...          ...         ...         ...
2899  01/05/2022        1900         0.0
2900  01/05/2022        2000         0.0
2901  01/05/2022        2100         0.0
2902  01/05/2022        2200         0.0
2903  01/05/2022        2300         0.0

[2904 rows x 3 columns]

In [157]:
inmet['Hora (UTC)'] = inmet['Hora (UTC)'].apply(lambda x: hour(x))

In [158]:
inmet

            Data Hora (UTC)  Chuva (mm)
0     01/01/2022   00:00:00         0.0
1     01/01/2022   01:00:00         0.2
2     01/01/2022   02:00:00         0.4
3     01/01/2022   03:00:00         0.2
4     01/01/2022   04:00:00         0.0
...          ...        ...         ...
2899  01/05/2022   19:00:00         0.0
2900  01/05/2022   20:00:00         0.0
2901  01/05/2022   21:00:00         0.0
2902  01/05/2022   22:00:00         0.0
2903  01/05/2022   23:00:00         0.0

[2904 rows x 3 columns]

In [159]:
inmet['Data'] = inmet['Data']+' '+inmet['Hora (UTC)']
inmet

                     Data Hora (UTC)  Chuva (mm)
0     01/01/2022 00:00:00   00:00:00         0.0
1     01/01/2022 01:00:00   01:00:00         0.2
2     01/01/2022 02:00:00   02:00:00         0.4
3     01/01/2022 03:00:00   03:00:00         0.2
4     01/01/2022 04:00:00   04:00:00         0.0
...                   ...        ...         ...
2899  01/05/2022 19:00:00   19:00:00         0.0
2900  01/05/2022 20:00:00   20:00:00         0.0
2901  01/05/2022 21:00:00   21:00:00         0.0
2902  01/05/2022 22:00:00   22:00:00         0.0
2903  01/05/2022 23:00:00   23:00:00         0.0

[2904 rows x 3 columns]

In [160]:
inmet['data'] = pd.to_datetime(inmet['Data'], format='%d/%m/%Y %H:%M:%S')

In [163]:
inmet = inmet[['data','Chuva (mm)']].rename(columns={'Chuva (mm)':'chuva 1h'})

In [167]:
import datetime as dt

In [170]:
inmet = inmet.where(inmet['data']<=dt.datetime(2022,3,20)).dropna()

In [171]:
inmet.to_csv('UTC_series_Barreto_01-22-03-22.csv')