In [25]:
import pandas as pd
import datetime 
obs = pd.read_excel('./files/Barreto 1_gdrive.xlsx', sheet_name='Outubro')
obs

,Hora Leitura,15 min,30 min,01 h,06 h,12 h,24 h,48 h,72 h,96 h,No Mês
0,2021-10-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2021-10-01 00:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2021-10-01 00:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2021-10-01 00:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2021-10-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2971,2021-10-31 22:45:00,0.0,0.2,0.2,3.0,4.4,4.6,4.6,12.4,21.2,119.6
2972,2021-10-31 23:00:00,0.2,0.2,0.4,3.2,4.6,4.8,4.8,12.6,21.4,119.8
2973,2021-10-31 23:15:00,0.0,0.2,0.4,3.2,4.6,4.8,4.8,12.6,21.4,119.8
2974,2021-10-31 23:30:00,0.2,0.2,0.4,3.4,4.8,5.0,5.0,12.8,21.6,120.0
2975,2021-10-31 23:45:00,0.0,0.2,0.4,3.4,4.8,5.0,5.0,12.8,21.6,120.0

In [35]:
obs['Hora Leitura'].dt.minute

0        0
1       15
2       30
3       45
4        0
        ..
2971    45
2972     0
2973    15
2974    30
2975    45
Name: Hora Leitura, Length: 2976, dtype: int64

In [37]:
hourly_obs = obs.where(obs['Hora Leitura'].dt.minute==0).dropna()
hourly_obs_acum01 = hourly_obs[['Hora Leitura', '01 h']]
hourly_obs_acum01

            Hora Leitura  01 h
0    2021-10-01 00:00:00   0.0
4    2021-10-01 01:00:00   0.0
8    2021-10-01 02:00:00   0.0
12   2021-10-01 03:00:00   0.0
16   2021-10-01 04:00:00   0.0
...                  ...   ...
2956 2021-10-31 19:00:00   1.4
2960 2021-10-31 20:00:00   0.8
2964 2021-10-31 21:00:00   0.2
2968 2021-10-31 22:00:00   0.2
2972 2021-10-31 23:00:00   0.4

[744 rows x 2 columns]