# Treating the Observed Data from API.
## Example with output file from the query running on the lab server

In [1]:
import pandas as pd
#obs = pd.read_csv('/home/github/RNA_Operacional_WRF/files/obs_data/hourly_data.csv')
import sys
sys.path.append('/home/github/RNA_Operacional_WRF')
import API_output_treatment as api_t

In [2]:
# This the output file from the query running on the lab server
path = '/home/github/RNA_Operacional_WRF/files/obs_data/hourly_data.csv' 

# You'll need to provide the path and station name as in the file
api_t.observed_data_reading(path, 'Barreto 1')

                     data  chuva 1h
179   2022-03-23 23:00:00      0.01
209   2022-03-23 23:00:00      0.01
239   2022-03-24 00:00:00      0.01
269   2022-03-24 01:00:00      0.01
299   2022-03-24 02:00:00      0.01
...                   ...       ...
25947 2022-04-29 18:00:00      0.01
25977 2022-04-29 19:00:00      0.01
26007 2022-04-29 20:00:00      0.01
26037 2022-04-29 21:00:00      0.01
26067 2022-04-29 22:00:00      0.01

[863 rows x 2 columns]