In [74]:
import pandas as pd
import datetime 
old = pd.read_csv('./files/series_Barreto 1_18-21.csv')
jun = pd.read_excel('./files/Barreto 1.xlsx', sheet_name='Junho')
jul = pd.read_excel('./files/Barreto 1.xlsx', sheet_name='Julho')
aug = pd.read_excel('./files/Barreto 1.xlsx', sheet_name='Agosto')
set = pd.read_excel('./files/Barreto 1.xlsx', sheet_name='Setembro')
oct = pd.read_excel('./files/Barreto 1.xlsx', sheet_name='Outubro')

obs=pd.concat([old,oct,jun,jul,aug,set])

/home/gabriel/miniconda3/envs/smap/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [75]:
obs['Hora Leitura'] = pd.to_datetime(obs['Hora Leitura'])
hourly_obs = obs[['Hora Leitura', '01 h']]
hourly_obs

            Hora Leitura 01 h
0    2018-11-30 23:45:00  0.0
1    2018-11-30 23:30:00  0.0
2    2018-11-30 23:15:00  0.0
3    2018-11-30 23:00:00  0.0
4    2018-11-30 22:45:00  0.0
...                  ...  ...
2875 2021-09-30 22:45:00  0.0
2876 2021-09-30 23:00:00  0.0
2877 2021-09-30 23:15:00  0.0
2878 2021-09-30 23:30:00  0.0
2879 2021-09-30 23:45:00  0.0

[101740 rows x 2 columns]

In [76]:
hourly_obs_acum01 = hourly_obs.where(obs['Hora Leitura'].dt.minute==0).dropna()

In [77]:
hourly_obs_acum01

            Hora Leitura 01 h
3    2018-11-30 23:00:00  0.0
7    2018-11-30 22:00:00  0.0
11   2018-11-30 21:00:00  0.0
15   2018-11-30 20:00:00  0.0
19   2018-11-30 19:00:00  0.0
...                  ...  ...
2860 2021-09-30 19:00:00  0.0
2864 2021-09-30 20:00:00  0.0
2868 2021-09-30 21:00:00  0.0
2872 2021-09-30 22:00:00  0.0
2876 2021-09-30 23:00:00  0.0

[25436 rows x 2 columns]

# Para UTC: BR time zone +3h

In [78]:
import pandas as pd
import datetime
obs = hourly_obs_acum01
obs

            Hora Leitura 01 h
3    2018-11-30 23:00:00  0.0
7    2018-11-30 22:00:00  0.0
11   2018-11-30 21:00:00  0.0
15   2018-11-30 20:00:00  0.0
19   2018-11-30 19:00:00  0.0
...                  ...  ...
2860 2021-09-30 19:00:00  0.0
2864 2021-09-30 20:00:00  0.0
2868 2021-09-30 21:00:00  0.0
2872 2021-09-30 22:00:00  0.0
2876 2021-09-30 23:00:00  0.0

[25436 rows x 2 columns]

In [79]:

obs['Hora Leitura'] = obs['Hora Leitura'].apply(lambda x: x + datetime.timedelta(hours=3))
obs.to_csv("./files/UTC_series_Barreto_18-21.csv")

In [80]:
obs['Hora Leitura']

3      2018-12-01 02:00:00
7      2018-12-01 01:00:00
11     2018-12-01 00:00:00
15     2018-11-30 23:00:00
19     2018-11-30 22:00:00
               ...
2860   2021-09-30 22:00:00
2864   2021-09-30 23:00:00
2868   2021-10-01 00:00:00
2872   2021-10-01 01:00:00
2876   2021-10-01 02:00:00
Name: Hora Leitura, Length: 25436, dtype: datetime64[ns]

In [38]:
obs.where(obs['Hora Leitura']==datetime.date(2021,10,1)).dropna()

Empty DataFrame
Columns: [Hora Leitura, 01 h]
Index: []