In [29]:
import pandas as pd
import os
import numpy as np

In [30]:
path1 = "/home/data/PMN/1.Pluviometricos"
path2 = "/home/data/PMN/2.Meteorologicos"
path1_= "/home/data/PMN/Pluviometricos"
os.listdir(path1)

['2021', '2018', '2019', '2020']

# Começando pelos Meteorológicos:
## Barreto:

In [3]:
os.listdir(path2+"/Barreto/")

['Dados Meteorológicos_Niterói_2021.xlsx',
 'Dados Meteorológicos_Niterói_2018.xlsx',
 'Dados Meteorológicos_Niterói_2019.csv',
 'Dados Meteorológicos_Niterói_2020.csv']

In [4]:
barreto = os.listdir(path2+"/Barreto/")
B_list = []
for cada in barreto:
    try:
        var = pd.read_excel(path2+"/Barreto/"+cada, engine='openpyxl')
    except:
        var = pd.read_csv(path2+"/Barreto/"+cada, sep=';', engine='python')
    
    B_list.append(var)

In [5]:
B_list[1].columns = B_list[1].loc[7]
B_list[1] = B_list[1].loc[8:].reset_index()
B_list[1] = B_list[1].drop('index', axis=1)

B_list[2].columns = B_list[2].loc[7]
B_list[2] = B_list[2].loc[8:].reset_index()
B_list[2] = B_list[2].drop('index', axis=1)

B_list[3].columns = B_list[3].loc[7]
B_list[3] = B_list[3].loc[8:].reset_index()
B_list[3] = B_list[3].drop('index', axis=1)

B_list[0].columns = B_list[0].loc[0]
B_list[0]=B_list[0].drop(0)
B_list[0] = B_list[0].reset_index().drop('index',axis=1)

In [6]:
B_list[1] = B_list[1].rename(columns={'DATA (YYYY-MM-DD)':'Data','HORA (UTC)':'Hora (UTC)','TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)':'Temp. Ins. (C)',
 'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)':'Temp. Max. (C)',
 'TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)':'Temp. Min. (C)',
 'UMIDADE RELATIVA DO AR, HORARIA (%)':'Umi. Ins. (%)',
 'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)':'Umi. Max. (%)',
 'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)':'Umi. Min. (%)',
 'TEMPERATURA DO PONTO DE ORVALHO (°C)':'Pto Orvalho Ins. (C)',
 'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)':'Pto Orvalho Max. (C)',
'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)':'Pto Orvalho Min. (C)',
 'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)':'Pressao Ins. (hPa)',
'PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)':'Pressao Max. (hPa)',
'PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)':'Pressao Min. (hPa)',
 'VENTO, VELOCIDADE HORARIA (m/s)':'Vel. Vento (m/s)',
 'VENTO, DIREÇÃO HORARIA (gr) (° (gr))':'Dir. Vento (m/s)',
'VENTO, RAJADA MAXIMA (m/s)':'Raj. Vento (m/s)',
 'RADIACAO GLOBAL (KJ/m²)':'Radiacao (KJ/mÂ²)',
 'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)':'Chuva (mm)'})

B_list[2] = B_list[2].rename(columns={'Hora UTC':'Hora (UTC)','TEMPERATURA DO AR - BULBO SECO, HORARIA (�C)':'Temp. Ins. (C)',
 'TEMPERATURA M�XIMA NA HORA ANT. (AUT) (�C)':'Temp. Max. (C)',
 'TEMPERATURA M�NIMA NA HORA ANT. (AUT) (�C)':'Temp. Min. (C)',
 'UMIDADE RELATIVA DO AR, HORARIA (%)':'Umi. Ins. (%)',
 'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)':'Umi. Max. (%)',
 'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)':'Umi. Min. (%)',
 'TEMPERATURA DO PONTO DE ORVALHO (�C)':'Pto Orvalho Ins. (C)',
 'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (�C)':'Pto Orvalho Max. (C)',
'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (�C)':'Pto Orvalho Min. (C)',
 'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)':'Pressao Ins. (hPa)',
 'PRESS�O ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)':'Pressao Max. (hPa)',
 'PRESS�O ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)':'Pressao Min. (hPa)',
 'VENTO, VELOCIDADE HORARIA (m/s)':'Vel. Vento (m/s)',
 'VENTO, DIRE��O HORARIA (gr) (� (gr))':'Dir. Vento (m/s)',
'VENTO, RAJADA MAXIMA (m/s)':'Raj. Vento (m/s)',
 'RADIACAO GLOBAL (KJ/m�)':'Radiacao (KJ/mÂ²)',
 'PRECIPITA��O TOTAL, HOR�RIO (mm)':'Chuva (mm)'})

B_list[3] = B_list[3].rename(columns={'Hora UTC':'Hora (UTC)','TEMPERATURA DO AR - BULBO SECO, HORARIA (�C)':'Temp. Ins. (C)',
 'TEMPERATURA M�XIMA NA HORA ANT. (AUT) (�C)':'Temp. Max. (C)',
 'TEMPERATURA M�NIMA NA HORA ANT. (AUT) (�C)':'Temp. Min. (C)',
 'UMIDADE RELATIVA DO AR, HORARIA (%)':'Umi. Ins. (%)',
 'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)':'Umi. Max. (%)',
 'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)':'Umi. Min. (%)',
 'TEMPERATURA DO PONTO DE ORVALHO (�C)':'Pto Orvalho Ins. (C)',
 'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (�C)':'Pto Orvalho Max. (C)',
'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (�C)':'Pto Orvalho Min. (C)',
 'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)':'Pressao Ins. (hPa)',
 'PRESS�O ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)':'Pressao Max. (hPa)',
 'PRESS�O ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)':'Pressao Min. (hPa)',
 'VENTO, VELOCIDADE HORARIA (m/s)':'Vel. Vento (m/s)',
 'VENTO, DIRE��O HORARIA (gr) (� (gr))':'Dir. Vento (m/s)',
'VENTO, RAJADA MAXIMA (m/s)':'Raj. Vento (m/s)',
 'RADIACAO GLOBAL (Kj/m�)':'Radiacao (KJ/mÂ²)',
 'PRECIPITA��O TOTAL, HOR�RIO (mm)':'Chuva (mm)'})

In [52]:
#B_list[0] = 3864 rows × 19 columns
#B_list[1] = 4128 rows × 19 columns
B_concat = pd.concat(B_list)
B_concat['Data'] = B_concat['Data'].apply(lambda x: pd.to_datetime(x))
B_concat = B_concat.set_index('Data')
B_concat = B_concat.replace({-9999:np.nan})
B_concat = B_concat.sort_values(by='Data').dropna(how='all')

In [54]:
B_concat.to_csv(path2+"/Barreto/concat_18-21.csv")

# Charitas & Itaipu

In [21]:
def formatting(df):
    if 'Unnamed: 8' in df:
        df = df.drop(['Unnamed: 8', 'T m�x', 'T min', 'UR max', 'UR min', 'Vento m�x',
       'Prec m�x'], axis=1)

    df_f = df.rename({'Data Hora':'Data Hora (dd/mm/aa)', 'Wind Speed':'Wind Speed (m/s)', 'Wind Direction':'Wind Direction (Deg)', 'Solar Radiation':'Solar Radiation (W/m2)','Relative Humidity':'Relative Humidity (%)', 'Air Temperature':'Air Temperature (C)', 'Barom Pressure':'Barom Pressure (mbar)', 'Rain Total':'Rain Total (mm)'}, axis=1).loc[1:]
    return df_f

In [22]:
charY = os.listdir(path2+"/Charitas/")
itaY = os.listdir(path2+"/Itaipu/")

char_list = []
ita_list = []
for year in charY:
    files0 = os.listdir(path2+"/Charitas/"+year+"/")
    for cada in files0:
        var = pd.read_csv(path2+"/Charitas/"+year+"/"+cada, sep=';')
        char_list.append(formatting(var))


for year in itaY:
    files1 = os.listdir(path2+"/Itaipu/"+year+"/")
    for cada in files1:
        var = pd.read_csv(path2+"/Itaipu/"+year+"/"+cada, sep=';')
        ita_list.append(formatting(var))

In [23]:
char_concat = pd.concat(char_list).sort_values(by='Data Hora (dd/mm/aa)').dropna(how='all')
ita_concat = pd.concat(ita_list).sort_values(by='Data Hora (dd/mm/aa)').dropna(how='all')

In [24]:
char_concat = char_concat.drop(['Air Temp Minimum', 'Air Temp Average', 'Air Temp Maximum',
       'Unnamed: 10', 'T m�x', 'T min', 'UR max', 'UR min', 'Vento m�x',
       'Prec m�x', 'Wind Speed Avg', 'Wind Speed Max', 'Unnamed: 11', 'T máx',
       'Vento máx', 'Prec máx'], axis=1)
ita_concat = ita_concat.drop(['Air Temp Minimum', 'Air Temp Average', 'Air Temp Maximum',
       'Unnamed: 10', 'T m�x', 'T min', 'UR max', 'UR min', 'Vento m�x',
       'Prec m�x', 'Wind Speed Avg', 'Wind Speed Max', 'Unnamed: 11', 'T máx',
       'Vento máx', 'Prec máx'], axis=1)
char_concat.to_csv(path2+"/Charitas/charitas_16-20.csv")
ita_concat.to_csv(path2+"/Itaipu/itaipu_17-20.csv")

# Dados pluviométricos:

In [56]:
pathPlu = path1_+'/'
#pathPlu = "C:/Users/a711301/LocalGab/study/RNA/Pluviometricos/"
lst = os.listdir(pathPlu)
lst.sort()
pathPlu

'/home/data/PMN/Pluviometricos/'

In [57]:
['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho','Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'][:5]

['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio']

In [58]:
def exceltypes(path, MonthsCut=None):
    meses=['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho','Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
    if MonthsCut==0:
        meses = meses[-2:]
    elif MonthsCut==1:
        meses = meses[:5]
    sheet_list=[]
    for mes in meses:
        
        try:
            changed = pd.read_excel(path, sheet_name=mes)
        except:
            if 'xlsx' in path:
                path = path.replace('xlsx','xls')
            else:
                path = path.replace('xls','xlsx')
            changed = pd.read_excel(path, sheet_name=mes)
        # last update:
        if 'Hora' in changed.columns:
            ihdic = {}
            indx_count=changed.index[0]
            for cada in changed['Hora']:
                var = str(cada)[:-8]+str(changed.loc[indx_count]['Leitura'])
                #print(var)
                ihdic.update({indx_count:var})
                indx_count+=1
            changed['Hora Leitura']=ihdic.values()
            changed['Hora Leitura'] = pd.to_datetime(changed['Hora Leitura'])
            changed = changed.drop(['Hora','Leitura'], axis=1)

        sheet_list.append(changed)
    conc = pd.concat(sheet_list)
    return conc

In [59]:
pluv = os.listdir(pathPlu)
pluv.sort()
y_2018 = os.listdir(pathPlu+pluv[0]) # '/pluviometricos/2018'
pluv

['2018', '2019', '2020', '2021']

In [60]:
dic = {}
for est in y_2018:
    xl_est2018 = exceltypes(pathPlu+pluv[0]+'/'+est, MonthsCut=0)
    xl_est2019 = exceltypes(pathPlu+pluv[1]+'/'+est)
    xl_est2020 = exceltypes(pathPlu+pluv[2]+'/'+est)
    xl_est2021 = exceltypes(pathPlu+pluv[3]+'/'+est, MonthsCut=1)
    dic.update({est:[xl_est2018, xl_est2019, xl_est2020, xl_est2021]})

In [61]:
for cada in dic.keys():
    variable = pd.concat(dic[cada])
    variable.to_csv('series_'+cada+'.csv')

/home/gabriel/miniconda3/envs/smap/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,Hora Leitura,15 min,30 min,01 h,06 h,12 h,24 h,48 h,72 h,96 h,No Mês
0,0,2018-11-16 11:15:00,-,-,-,-,-,-,-,-,-,0.0
1,1,2018-11-16 11:30:00,0.0,-,-,-,-,-,-,-,-,0.0
2,2,2018-11-16 11:45:00,0.0,0.0,-,-,-,-,-,-,-,0.0
3,3,2018-11-16 12:00:00,0.0,0.0,-,-,-,-,-,-,-,0.0
4,4,2018-11-16 12:15:00,0.0,0.0,0.0,-,-,-,-,-,-,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
82090,2971,2021-05-31 22:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,77.2
82091,2972,2021-05-31 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,77.2
82092,2973,2021-05-31 23:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,77.2
82093,2974,2021-05-31 23:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,77.2
82094,2975,2021-05-31 23:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,77.2

In [42]:
pd.read_excel(pathPlu+'2020/Igrejinha.xlsx', sheet_name='Fevereiro')

,Hora Leitura,15 min,30 min,01 h,06 h,12 h,24 h,48 h,72 h,96 h,No Mês
0,2020-02-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,12.0,13.6,13.6,0.0
1,2020-02-01 00:15:00,0.0,0.0,0.0,0.0,0.0,0.0,12.0,13.6,13.6,0.0
2,2020-02-01 00:30:00,0.0,0.0,0.0,0.0,0.0,0.0,12.0,13.6,13.6,0.0
3,2020-02-01 00:45:00,0.0,0.0,0.0,0.0,0.0,0.0,12.0,13.6,13.6,0.0
4,2020-02-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,12.0,13.6,13.6,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2700,2020-02-29 22:45:00,0.6,1.2,1.4,1.4,1.4,1.4,9.4,15.6,15.6,275.6
2701,2020-02-29 23:00:00,1.8,2.4,3.2,3.2,3.2,3.2,11.2,17.4,17.4,277.4
2702,2020-02-29 23:15:00,2.8,4.6,5.8,6.0,6.0,6.0,14.0,20.2,20.2,280.2
2703,2020-02-29 23:30:00,3.8,6.6,9.0,9.8,9.8,9.8,17.0,24.0,24.0,284.0
2704,2020-02-29 23:45:00,1.2,5.0,9.6,11.0,11.0,11.0,18.0,25.2,25.2,285.2

# Testes casa da maria

In [96]:
teste = pd.read_excel(pathPlu+"2020/Preventório.xlsx",sheet_name='Dezembro')
str(teste.loc[0]['Hora'])[:-8]+str(teste.loc[0]['Leitura'])

'2020-12-01 23:45:00'

In [81]:
index_list=teste.index
teste.index[0]

0

In [92]:
mnh = str(teste['Hora'][0])[-8:]
mnh.replace('0','j')

'jj:jj:jj'

In [99]:
ihdic = {}
indx_count=teste.index[0]
for cada in teste['Hora']:
    var = str(cada)[:-8]+str(teste.loc[indx_count]['Leitura'])
    #print(var)
    ihdic.update({indx_count:var})
    indx_count+=1
teste['Hora Leitura']=ihdic.values()
teste['Hora Leitura'] = pd.to_datetime(teste['Hora Leitura'])

In [114]:
teste.drop(['Hora','Leitura'], axis=1)

,15 min,30 min,01 h,06 h,12 h,24 h,48 h,72 h,96 h,No Mês,Hora Leitura
0,0.0,0.0,0.0,0.2,0.2,0.2,0.2,0.2,0.2,0.2,2020-12-01 23:45:00
1,0.0,0.0,0.0,0.2,0.2,0.2,0.2,0.2,0.2,0.2,2020-12-01 23:30:00
2,0.0,0.0,0.0,0.2,0.2,0.2,0.2,0.2,0.2,0.2,2020-12-01 23:15:00
3,0.0,0.0,0.0,0.2,0.2,0.2,0.2,0.2,0.2,0.2,2020-12-01 23:00:00
4,0.0,0.0,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,2020-12-01 22:45:00
...,...,...,...,...,...,...,...,...,...,...,...
2970,0.0,0.0,0.0,0.0,0.0,0.0,0.6,0.8,12.8,191.4,2020-12-31 01:00:00
2971,0.0,0.0,0.0,0.0,0.0,0.0,0.6,0.8,12.8,191.4,2020-12-31 00:45:00
2972,0.0,0.0,0.0,0.0,0.0,0.0,0.6,0.8,12.8,191.4,2020-12-31 00:30:00
2973,0.0,0.0,0.0,0.0,0.0,0.0,0.6,0.8,12.8,191.4,2020-12-31 00:15:00
2974,0.0,0.0,0.0,0.0,0.0,0.0,0.6,0.8,12.8,191.4,2020-12-31 00:00:00

In [132]:
teste['coluna']=teste['Hora'].replace(hour=teste['Leitura'].hour)

AttributeError: 'Series' object has no attribute 'hour'

In [127]:
def timechange(df, val):
    ind = val.index
    val = val.replace(hour=df['Leitura'][ind].hour)
    return val

In [128]:
teste['Hora'].apply(lambda x: timechange(teste, x))

AttributeError: 'Timestamp' object has no attribute 'index'

In [4]:
import os

serieslist = os.listdir('/home/data/PMN/Pluviometricos/series')
for cada in serieslist:
    cadaname =cada[:-9]
    print(cadaname)
    os.rename(cada, cadaname+'_18-21.csv')

series_Coronel Leôncio

FileNotFoundError: [Errno 2] No such file or directory: 'series_Coronel Leôncio.xlsx.csv' -> 'series_Coronel Leôncio_18-21.csv'